.butt {
    color: beige;
    background-color: green;
    font-size: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cont {
    font-size: 38px;
    color: rgb(49, 17, 78);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}